body {
	margin: 0px;
	overflow-x: hidden;
}

.search-input {
	display: inline-block;
	width: 100%;
	padding: 15px 7px;
	font-size: 15px;
	position: fixed;
}

.gif-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 75px;
	padding-top: 50px;
}

.gif-item {
	overflow: hidden;
}

.gif-item img {
	width: 100% !important;
	height: auto !important;
}
